SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lession, we will cover the basics of SQL and SQLite including creating databases, tables, and performing various SQL operations.

In [5]:
import sqlite3

In [7]:
connection=sqlite3.connect('example.db')
connection

In [8]:
cursor=connection.cursor()

In [10]:
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
)
''')
connection.commit()

In [11]:
cursor.execute('''
    Select * from employees
''')

In [19]:
cursor.execute('''
Insert Into employees(name,age, department)
            values('Ramy',28,'Data Scientist')
''')

cursor.execute('''
INSERT INTO employees(name,age,department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees(name,age,department)
VALUES ('Charlie', 25, 'Finance')
''')

connection.commit()

In [21]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Ramy', 28, 'Data Scientist')
(2, 'Ramy', 28, 'Data Scientist')
(3, 'Ramy', 28, 'Data Scientist')
(4, 'Ramy', 28, 'Data Scientist')
(5, 'Ramy', 28, 'Data Scientist')
(6, 'Ramy', 28, 'Data Scientist')
(7, 'Ramy', 28, 'Data Scientist')
(8, 'Ramy', 28, 'Data Scientist')
(9, 'Bob', 25, 'Engineering')
(10, 'Charlie', 25, 'Finance')